.news__title{
    margin-top: 5rem;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    color: #1A1B22;
    width: 400px;
    margin-left: 6.5rem;
}

@media (max-width:1024px){
    .news__title{
        margin-left: 4rem!important;
    }
}

@media (max-width:768px){
    .news__title{
        font-size: 30px!important;
        line-height: 34px!important;
        margin-top: 2.5rem!important;
        margin-left: 2.5rem!important;
    }
}

@media (max-width:390px){
    .news__title{
        width: 20rem;
        margin-top: 2rem!important;
        margin-left: 0!important;
        text-align: center!important;
    }
}