.articles-info__title{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: rgba(26, 27, 34, 0.5);
    margin-top: 2.5rem;
}

@media (max-width:768px){
    .articles-info__title{
        font-size: 14px;
        margin-top: 1.5rem!important;
    }
}

@media (max-width:625px){
    .articles-info__title{
        font-size: 12px;
        margin-top: .5rem!important;
    }
}

