.popup__close{
    position: absolute;
    top: -2.5rem;
    right: -2.5rem;
    height: 1.375rem;
    width: 1.375rem;
    cursor: pointer;
}


@media (max-width: 768px){
    .popup__close {
        display: none;
    }
}