@import url(./__keywords/articles-info__keywords.css);
@import url(./__subtitle/articles-info__subtitle.css);
@import url(./__title/articles-info__title.css);


.articles-info{
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 6.5rem;
}

@media (max-width: 1024px){
    .articles-info {
        margin-left: 2.5rem;
    }
}

@media (max-width:768px){
    .articles-info{
        
    }
}

@media (max-width:625px){
    .articles-info{
        margin-top: 2rem!important;
        margin-left: 0!important;
        margin-bottom: 0!important;
        height: 17rem;
        width: 17rem;
    }
}