.root {
    /* background-color: black; */
    min-height: 100vh;
    font-family: 'Inter';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    max-width: 1440px;
    margin: auto;
}