.news__help{
    position: absolute;
    top: 1.5rem;
    left: 9.3125rem;
    right: 4.3125rem;
    background: #FFFFFF;
    box-shadow: 0px 10px 22px rgba(59, 74, 116, 0.1);
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    border-radius: 10px;
    width: 11.375rem;
    height: 2.5rem;
    display:flex;
    justify-content: center;
    align-items: center;
}
.news__help_show{
    display: none;
}

@media (max-width:768px){
    .news__help{
        display: none!important;
    }
}