.about-author_avatar{
    border-radius: 1000px;
    margin-top: 5rem;
    margin: 5rem 0 5rem 0;
    width: 29rem;
    height: 29rem;
    background-image: url(/src/images/Screenshot_1.png);
    background-size: cover;
}