<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Поиск новостей">
    <meta name="keywords" content="Поиск, Новости, Читать, Новости этой недели, Что нового, Мир">
    <meta name="author" content="Andrew Korlyakov">
    <link rel="icon" href="<%=require('../images/favicon.svg')%>" type="image/x-icon">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>">
    <title>NewsExplorer</title>
</head>
<body>
    <div class="root">
        <header class="header">
            <h1 class="header__logo-text">NewsExplorer</h1>
            <nav class="header__navigation">
                <a href="#" class="header__nav-button header__nav-button_current">Главная</a>
                <a href="./" class="header__nav-button header__nav-button_rectangle">Авторизоваться</a>
            </nav>
        </header>
        <main class="main">
            <section class="articles-info">
                <h3 class="articles-info__title">Сохранённые статьи</h3>
                <p class="articles-info__subtitle">Грета, у вас 5 сохранённых статей</p>
                <p class="articles-info__keywords">По ключевым словам: <b>Природа</b>, <b>Тайга</b> и <b>2 другим</b></p>
            </section>
            <section class="news news_empty_hidden">
                <img src="<%=require('../images/not-found_v1.svg')%>" alt="Не найдено" class="news__not-found-picture">
                <h2 class="news__not-found-title">Ничего не найдено</h2>
                <p class="news__not-found-subtitle">К сожалению по вашему запросу 
                    ничего не найдено.</p>
            </section>
            <section class="news">
                <div class="news__card-place">
                    <div class="news__card">
                        <img src="<%=require('../images/card-icon-example.jpg')%>" alt="Национальное достояние – парки" class="news__card-icon">
                        <div class="news__delete-button"></div>
                        <div class="news__tags-place">Природа</div>
                        <p class="news__date">2 августа, 2019</p>
                        <h3 class="news__card-title">Национальное достояние – парки</h3>
                        <p class="news__card-subtitle">В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала складываться система национальных парков – охраняемых территорий, где и сегодня каждый может приобщиться к природе.</p>
                        <a href="https://lenta.ru/" class="news__source">Лента.ру</a>
                    </div>               
                </div>
                <button class="button news__button">Показать еще</button>
            </section>
            <section class="about-author">
                <picture srcset="<%=require('../images/author-avatar.png')%>" type="image/webp">
                    <img src="<%=require('../images/author-avatar.png')%>" alt="Андрей Корляков" class="about-author_avatar">
                </picture>
                <div class="about-author__text-block">
                    <h2 class="about-author__title">Об авторе</h2>
                    <p class="about-author__subtitle">Меня зовут Андрей Корляков. Я начинающий веб-разработчик. Учусь на 3 курсе университета на теплоэнергетика. Тем не менее хочу поменять профессию и связать жизнь с разработкой, ведь это не только перспективно, но и по-настоящему интересно. </p>
                    <p class="about-author__subtitle">Закончил курсы Яндекс.Практикума по профессии Веб-разработчик. Освоил освновы JavaScript, научился верстать, владею адаптивной версткой. Умею писать современный и аккуратный код (ES6+, ООП, AJAX). Работал с системой контроля версий git и командной строкой, работал с Webpack`ом. Имею учебный опыт работы с noSQL БД (mongoose). Делал бэкенд на Express.js+Node.js. Ну и конечно же на курсах Яндекс.Практикум я научился работать в команде.
                        Каждый проект прошел код-ревью у опытных менторов – это ценный опыт, который поможет избежать многих ошибок. Мои работы можно посмотреть здесь - github.com/yletfull/portfolio.
                    </p>
                </div>
            </section>
        </main>
        <footer class="footer">
            <p class="footer__info">© 2020 Supersite, Powered by News API</p>
            <div class="footer__nav">
                <a class="footer__nav-button" href="">Главная</a>
                <a class="footer__nav-button" href="">Яндекс.практикум</a>
                <img src="../src/images/GitHub.jpg" alt="Github" class="footer__social-icon">
                <img src="../src/images/Facebook.jpg" alt="Facebook" class="footer__social-icon">
            </div>
        </footer>
        <div class="preloader_hidden">
            <i class="preloader__circle_hidden"></i>
        </div>
    </div>
</body>
<script src="<%= htmlWebpackPlugin.files.js %>"></script>
</html>