<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Поиск новостей">
    <meta name="keywords" content="Поиск, Новости, Читать, Новости этой недели, Что нового, Мир">
    <meta name="author" content="Andrew Korlyakov">
    <link rel="icon" href="<%=require('../images/favicon.svg')%>" type="image/x-icon">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>">
    <title>NewsExplorer</title>
</head>
<body>
    <div class="root">
        <header class="header">
            <h1 class="header__logo-text">NewsExplorer</h1>
            <nav class="header__navigation header__navigation_articles" id="menu-open-button-mobile">
                <a href="./index.html" class="header__nav-button">Главная</a>
                <a href="./articles.html" class="header__nav-button header__nav-button_current header__nav-button_saved-articles">Сохранённые статьи</a>
                <a href="#" class="header__nav-button header__nav-button_rectangle" id="popup-open-button" data-popup="popup_login">Авторизоваться
                </a>
                <img src="<%=require('../images/logout.svg')%>" alt="Выйти" class="header__logout-icon header__logout-icon_hidden">
            </nav>
        </header>
        <main class="main">
            <section class="articles-info">
                <h3 class="articles-info__title">Сохранённые статьи</h3>
                <p class="articles-info__subtitle"></p>
                <p class="articles-info__keywords">По ключевым словам: </p>
            </section>
            <section class="news">

            </section>
            <section class="about-author">
                <img src="<%=require('../images/author-avatar.png')%>" alt="Андрей Корляков" class="about-author_avatar">
                <div class="about-author__text-block">
                    <h2 class="about-author__title">Об авторе</h2>
                    <p class="about-author__subtitle">Меня зовут Андрей Корляков. Я начинающий веб-разработчик. Учусь на 3 курсе университета на теплоэнергетика. Тем не менее хочу поменять профессию и связать жизнь с разработкой, ведь это не только перспективно, но и по-настоящему интересно. </p>
                    <p class="about-author__subtitle">Закончил курсы Яндекс.Практикума по профессии Веб-разработчик. Освоил освновы JavaScript, научился верстать, владею адаптивной версткой. Умею писать современный и аккуратный код (ES6+, ООП, AJAX). Работал с системой контроля версий git и командной строкой, работал с Webpack`ом. Имею учебный опыт работы с noSQL БД (mongoose). Делал бэкенд на Express.js+Node.js. Ну и конечно же на курсах Яндекс.Практикум я научился работать в команде.
                        Каждый проект прошел код-ревью у опытных менторов – это ценный опыт, который поможет избежать многих ошибок. Мои работы можно посмотреть здесь - github.com/yletfull/portfolio.
                    </p>
                </div>
            </section>
        </main>
        <footer class="footer">
            <p class="footer__info">© 2020 Supersite, Powered by News API</p>
            <div class="footer__nav">
                <div class="footer__links">
                    <a class="footer__nav-button" href="./index.html">Главная</a>
                    <a class="footer__nav-button" href="https://praktikum.yandex.ru">Яндекс.практикум</a>
                </div>
                <div class="footer__icons">
                    <a href="https://github.com/yletfull" class="footer__social-icon"><img src="<%=require('../images/GitHub.jpg')%>" alt="Github"></a>
                    <a href="https://vk.com" class="footer__social-icon"><img src="<%=require('../images/vk.png')%>" alt="Vkontakte"></a>
                </div>
            </div>
        </footer>
        <div class="preloader_hidden">
            <i class="preloader__circle_hidden"></i>
        </div>
    </div>
    <script src="<%= htmlWebpackPlugin.files.js %>"></script>
</body>
</html>