@import url(./__nav-button/header__nav-button.css);
@import url(./__nav-button_rectangle/header__nav-button_rectangle.css);
@import url(./__navigation/header__navigation.css);
@import url(./__logo-text/header__logo-text.css);
@import url(./__nav-button_current/header__nav-button_current.css);

.header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgba(196, 196, 196, 0.01);
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
    border-bottom: rgba(196, 196, 196, 0.01) solid 1px;
    max-width: 1440px;
    margin: auto;
}

@media (max-width:768px){
    .header{
        max-height: 4.125rem;
    }
}

@media (max-width:700px){
    .header{
        max-height: 3.5rem;
    }
}