.news__not-found-subtitle{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #B6BCBF;
    margin-top: 16px;
    margin: 16px 0 80px 0;
}