.articles-info__subtitle{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    color: #1A1B22;
    margin-top: 1.75rem;
    width: 33rem;
}

@media (max-width:768px){
    .articles-info__subtitle{
        font-size: 30px;
        line-height: 34px;
        margin-top: 1rem;
    }
}

@media (max-width:625px){
    .articles-info__subtitle{

    }
}