
.news__delete-button{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    bottom: 32rem;
    background-image: url('~images/delete-icon.png');
    height: 2.5rem;
    width: 2.5rem;
}
.news__delete-button_active{
    background-image: url('~images/delete-icon-active.png');
}

@media (max-width:960px){
    .news__delete-button{
        top:0.5rem!important;
        right:0.5rem!important;
        bottom: 23.875rem!important;
    }
}