.news__button{
    background: #FFFFFF;
    border-radius: 80px;
    margin: 0 auto 5rem;
    width: 18rem;
    height: 4rem;
    border:none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
}
.news__button:hover{
    opacity: 0.9;
}
.news__button_hidden{
    display: none;
}
@media (max-width:768px){
    .news__button{
        margin-bottom: 2.5rem;
    }
}

@media (max-width:486px){
    .news__button{
        margin-bottom: 2rem;
    }
}