.news__source{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #B6BCBF;
    margin: 1.125rem 1.5rem 1.5rem 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
}